version: '3'
services: 
  app1:
    build: ./app1/compras
    ports:
      - "5001:5000"
  app2:
    build: /app1/compras2
    ports:
      - "5002:5000"
  app3:
    build: /app1/compras3
    ports:
      - "5003:5000"
  nginx:
    build: ./nginx
    ports:
      - "8080:80"
    depends_on: 
      - app1
      - app2
      - app3
     

